@import 'var';

//wrapper design
.aboutDiv{
    padding-inline: 10vw;
}

//about
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: $color-white;
    box-shadow: 1px 8px 10px 2x $first-shadow-color;
    border-radius: 20px;

    p{
        text-align: center;
        font-size: 15px;
        color: #777;
    }
}
.about-btn button {
    position: absolute;
    right: 20px;
    bottom: 20px;

    background: $first-color;
    color: $color-white;
    border-radius: 30px;

    &:hover {
        background: $first-color-hover;
    }
}

//skills
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span{
        font-size: 14px;
        background: $first-color;
        color: $color-white;
        padding: 2px 10px;
        border-radius: 5px;
    }
}
