@import "var";

/* -------------- DARKMODE -------------- */
body.dark {
    background-color: $body-black;
}


.dark {

    footer{
        background-color: $body-black;

        a{
            color: $text-color-black;
        }
    }

    .icon {
        background-color: white;

        .uil{
            color: $color-black;

            &:hover {
                color: $green-black;
            }
        }
    }

    h1,
    h3,
    h4,
    h2,
    p,
    a {
        color: $text-color-black;
    }

    nav {
        background: $body-black;
    }

    .nav-logo span {
        color: $green-black;
    }

    .about-info {
        background: $card-black;
    }

    .btn__indicator {
        transform: translateX(5em);

        background-color: $dark-color;
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    }

    .btn__icon {
        color: $dark-icon-color;
    }

    .about-btn{
        > .btn{
            background: $green-black;
            color: $dark-color;
            &:hover {
                background: $color-white;
                color: $dark-color;
            }
        }
    }

    .featured-text-btn {
        > .btn {
            border: 1px solid $green-black;
            background-color: $body-black;
            //background: $green-black;
            color: $color-white;
            &:hover {
                background: $color-white;
                color: $dark-color;
            }
        }
    }

    .experience .timeline .timeline-text{
        background: $card-black;
    }

    input {
        &[type="text"], &[type="email"] {
            color: $color-white;
        }
    }

    textarea {
        color: #fff;
    }

    .contact-info{
        background: $card-black;
        box-shadow: 1px 8px 10px 2px $first-shadow-color;
        overflow: hidden;

        > {
            h2 {
                color: $color-white;
                margin-bottom: 20px;
            }

            p {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $color-white;
                margin-block: 5px;
            }
        }

        p > i {
            font-size: 18px;
        }

        &::after {
            background: $color-white;
        }

        &:hover.contact-info {
            h2, p, i {
                color: #777;
                z-index: 2;
            }
        }
    }
}
