@import "var";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
}

.top-footer p {
    font-size: 25px;
    font-weight: 600;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;

    a {
        text-decoration: none;
        color: $text-color-second;
        font-weight: 500;
        margin-inline: 20px;
    }
}

.footer-social-icons {
    display: flex;
    gap: 30px;
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
}

.middle-footer {
    span {
        color: #666;
        font-size: 12px;
        width: 90%;
        left: 50%;
        top: 45%;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .fa {
        color: #E90606;
        margin: 0 3px;
        font-size: 10px;
        animation: pound .35s infinite alternate;
        -webkit-animation: pound .35s infinite alternate;
    }
}

@-webkit-keyframes pound {
    to {
        transform: scale(1.1);
    }
}

@keyframes pound {
    to {
        transform: scale(1.1);
    }
}
