@import "var";

.projectsDiv{
    padding-inline: 10vw;
}

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: $color-white;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px $first-shadow-color;
    overflow: hidden;

    > i {
        font-size: 50px;
        color: #00B5E7;
        margin-bottom: 25px;
    }

    label {
        font-size: 15px;
        color: #777;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -100%;
        background: $second-color;
        width: 100%;
        height: 100%;
        transition: .4s;
        z-index: 1;
    }
}

.contact-info::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: $second-color;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}

.project-box:hover.project-box::after, .contact-info:hover.contact-info::after {
    bottom: 0;
}

.project-box:hover.project-box {
    i {
        color: $color-white;
        z-index: 2;
    }

    > {
        h3, label {
            color: $color-white;
            z-index: 2;
        }
    }
}
