@import "var";

.projectsDiv{
    padding-inline: 10vw;
}

.github-logo{
    font-size: 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card-content{
    position: relative;
    width: 30%;
    background-color: $container-color;
    box-shadow: 0 16px 32px hsla(230, 50%, 20%, .1);
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-social {
    display: flex;
    column-gap: .75rem;
}

.card__social a {
    font-size: 1.25rem;
    color: $title-color;
}

.card-image {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 1rem;
}

.card-data {
    text-align: center;
}

.card-name {
    font-size: $h2-font-size;
    color: $title-color;
    font-weight: 600;
    margin-bottom: .25rem;
}

.card-resume {
    font-size: $normal-font-size;
    font-weight: 500;
    margin-bottom: 2rem;
}
