// var
$body-color: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);
$text-color-second: rgb(68, 68, 68);
$text-color-third: rgb(30, 159, 171);
$first-color: rgb(110, 87, 224);
$first-color-hover: rgb(40, 91, 212);
$second-color: rgb(0, 201, 255);
$third-color: rgb(192, 166, 49);
$first-shadow-color: rgba(0, 0, 0, 0.1);
$color-2: hsla(24, 100%, 47%, 1);
$color-black  : #000000;

//dark theme
$card-black: rgb(50, 51, 60);
$body-black: rgb(43, 45, 53);
$text-color-black: rgb(193, 204, 237);
$green-black: rgb(74, 223, 186);
$dark-color: rgb(40, 40, 51);


//dark themeV2
$color: #9176FF;
$dark-icon-color: #fff;
$light-color: #f7f7f7;
$light-icon-color: #FFDE59;

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(230, 100%, 50%);
    --second-color: hsl(150, 100%, 38%);
    --title-color: hsl(230, 24%, 12%);
    --text-color: hsl(230, 4%, 60%);
    --gray-color: hsl(230, 24%, 88%);
    --border-color: hsl(230, 4%, 92%);
    --body-color: hsl(230, 100%, 98%);
    --container-color: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Syne", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
}
