// font link
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// var
$body-color: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);
$text-color-second: rgb(68, 68, 68);
$text-color-third: rgb(30, 159, 171);
$first-color: rgb(110, 87, 224);
$first-color-hover: rgb(40, 91, 212);
$second-color: rgb(0, 201, 255);
$third-color: rgb(192, 166, 49);
$first-shadow-color: rgba(0, 0, 0, 0.1);

//basics
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//scroll
html {
    scroll-behavior: smooth;
}

// scrollbar design
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;

    &:hover {
        background: #bbb;
    }
}

//btn designs
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;

    > i {
        margin-left: 10px;
    }

    &:hover {
        background: $second-color;
        color: $color-white;
    }
}

// icons design
i {
    font-size: 16px;
}

// base
body {
    background: $body-color;
}
.container {
    width: 100%;
    position: relative;
}

/* navbar */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: $body-color;
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: $text-color-third;
}

.nav-logo span {
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: $text-color-second;
}

.nav-menu, .nav_menu_list {
    display: flex;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: $text-color-second;
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;

    i {
        font-size: 28px;
        cursor: pointer;
    }
}

//wrapper desgin
.wrapper{
    padding-inline: 10vw;
}

//feature design
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

//feature design
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

//feature text
.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span {
    background: $third-color;
    color: $color-white;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name {
    font-size: 50px;
    font-weight: 600;
    color: $text-color-second;
    margin-block: 20px;
}
.typedText {
    text-transform: capitalize;
    color: $text-color-third;
}
.featured-text-info {
    font-size: 15px;
    margin-bottom: 30px;
    color: $text-color-second;
}
.featured-text-btn {
    display: flex;
    gap: 20px;

    > .blue-btn {
        background: $first-color;
        color: $color-white;
        &:hover {
            background: $first-color-hover;
        }
    }
}
.social_icons {
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &:hover {
        color: $first-color;
    }
}

//main
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}

//feature img
.featured-image {
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;

    img {
        width: 380px;
        height: 380px;
        object-fit: cover;
    }
}
@keyframes imgFloat {
    50% {
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: $text-color-second;
    background: $color-white;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    i {
        font-size: 20px;
    }
}

// ff
.top-header{
    text-align: center;
    margin-bottom: 5em;

    h1{
        font-weight: 600;
        color: $text-color-second;
        margin-bottom: 10px;
    }

    span{
        color: #999;
    }
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: $text-color-second;
    margin-bottom: 15px;
}

//about
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: $color-white;
    box-shadow: 1px 8px 10px 2x $first-shadow-color;
    border-radius: 20px;

    p{
        text-align: center;
        font-size: 15px;
        color: #777;
    }
}
.about-btn button {
    position: absolute;
    right: 20px;
    bottom: 20px;

    background: $first-color;
    color: $color-white;
    border-radius: 30px;

    &:hover {
        background: $first-color-hover;
    }
}

//skills
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span{
        font-size: 14px;
        background: $first-color;
        color: $color-white;
        padding: 2px 10px;
        border-radius: 5px;
    }
}

/* query 1024px */
@media only screen and (max-width: 1024px) {
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}


/* query 900px */
@media only screen and (max-width: 900px) {
    .nav-button {
        display: none;
    }

    .nav-menu {
        &.responsive {
            left: 0;
        }

        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }

    .social_icons {
        margin-top: 2em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 100px;
    }

    .image {
        width: 190px;
        height: 190px;

        img {
            width: 190px;
            height: 190px;
        }
    }
}

